        <div class="main-container internal">
            <div class="main wrapper clearfix section">
				<article>
                    
                    <section>
                    <h2>About Ostel</h2>
                    <p>Ostel is a tool for having end-to-end encrypted phone calls. Our goal is to promote the use of free, open protocols, standards and software, to power end-to-end secure voice communications on mobile devices, as well as with desktop computers.</p>
                    
                     <h3>Open Secure Telephone Network (OSTN)</h3>
                    <p>We are working to define a defacto standard (OSTN) by which a voice over internet protocol service can be considered end-to-end secured, with verifiable encryption, minimal logging, and a decentralised model of deployment and use. From this standard, we will work to deploy a network of compliant server/service instances and client software, mobile and desktop, that are federated, audited and interoperable. Ostel and our affiliates our public testbeds of the OSTN initiative.</p>
                      
                    <h2>About Our Development Team</h2>
                    <p>The Guardian Project is a research and development effort powered by technology-focused activists, concerned citizen users, and open-source security software hackers. We build tools based on real-world experience and feedback. Our process is transparent, inclusive and responsible.</p>
                    
                    <p>The Guardian Project aims to create easy to use mobile apps, open-source firmwares, and customized, commercial mobile phones that can be used and deployed around the world, by any person looking to protect their communications from unjust intrusion.</p>

                    <p>Whether your are an average citizen looking to affirm your rights or an activist, journalist or humanitarian organization looking to safeguard your work in this age of global communication, Guardian is the solution for your mobile security needs.</p>
                                        
                    <h3>Our Goal</h3>
                    <p>All of the necessary Rumah Dijual technologies and communications standards exist today for voice communications that is as secure as OpenPGP email. Many proprietary and open source solutions exist for desktop and mobile devices that already implement the necessary bits to provide a solution many times more secure than Skype, without dependence upon one global service provider. Yet people who are security conscious enough to use Skype to secure their computer based conversations will still hold sensitive discussion on mobile phones. The problem is simplicity, usability and reliability.</p>                  

                    <p>This project will provide an application for Android phones that will be only marginally more complex to use than dialing an existing phone number, while still being based entirely on open standards. The app itself is based on existing open source client code provided by the CSipSimple, pjsip and ZORG projects. We will coordinate with a network of audited, open service providers around the world who already provide free and commercial service to users, to ensure our users have an automated provisioning process to get connected.</p>                  
                    
                    <p>OSTN will interface with a variety of projects to ensure compatible with new standards around peer-to-peer VOIP communication. We will seek interoperability from other competitive, proprietary solutions from private companies and propose our implementation become the reference design for privacy and security standards.</p>                  
                    </section>
                    
                    
                    <aside>
                    	<img src="img/android.png" alt="mockup" />
                    	<p><em>An Android phone running Ostel using the CSipSimple app.</em></p>
                    </aside>
                                       
                </article>

                
				<!-- END MAIN -->	
            </div> 
                    
        </div> 
		
		        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="section">
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Android</h2>
                        <img class="icon" src="images/icon_cup.png" width="65" alt="Insert Alt" />
                        <p>Don’t just take our word for it. We’re built on trusted security protocols using public-key encryption.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>iPhone</h2>
                        <img class="icon" src="images/icon_cloud.png" width="67" alt="Insert Alt" />
                        <p>Have a device in your pocket or on your desk? Then you can make a call with Ostel. We work on Android, iPhone, Blackberry, Nokia, Mac, PC, and Linux through supported apps.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Mac</h2>
                        <img class="icon" src="images/icon_world.png" width="67" alt="Insert Alt" />
                        <p>Talk to anyone in the world for free over WI-FI or a cell network.</p>
                    </section>
               
                    
                    	<hr/>
               
                    
                     <!-- INSERT FEATURE TEXT  -->                   
                     <section>
                        <h2>Windows</h2>
                        <img class="icon" src="images/icon_plane.png" width="58" alt="Insert Alt" />
                        <p>You don’t get this far alone. We’re an open source project with public code that anyone in the world can see and improve.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Linux</h2>
                        <img class="icon" src="images/icon_users.png" width="64" alt="Insert Alt" />
                        <p>Your calls are your business. We don’t keep any logs or records of who is callin whom. And phone numbers aren’t tied to personal identifiers so you can remain truly anonymous.</p>
                    </section>
                    
                     <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Blackberry</h2>
                        <img class="icon" src="images/icon_network.png" width="64" alt="Insert Alt" />
                        <p>Advanced users can run their own open secure telephone network. Its like having a batphone for your organization.</p>
                    </section>
                    
                    <hr/>
					
					
					<footer>
						<div class="flexslider2">
							<%= h(render "devise/registrations/new") %>
						</div>	                  
					</footer>
					
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->