        </div>
	<!-- START FEATURES  -->	
        <div class="main-container internal">
            <div class="main wrapper clearfix section">
		<article>
                    
                    <section>
                    <h2>Frequently Asked Questions</h2>
                     
                    		<p>Ostel is a public testbed of the <a href="https://guardianproject.info/wiki/OSTN/" target="_blank">Open Secure Telephony Network (OSTN) project</a>, an effort with the goal of promoting the use of free, open protocols, standards and software, to power end-to-end secure voice communications on mobile devices, as well as with desktop computers. Both are concepts from <a href="https://guardianproject.info/" target="_blank">The Guardian Project</a>.</p>

							 <h1>How do I set it up?</h1>
									 <p>Register for an Ostel account. Then download the app and use the credentials we sent you to get started. The user name should be a 4 digit number like 1003. Then a password. The server is "ostel.me"</p>
                     
							 <h1>How do I test that everything is working?</h1>
									 <p>From the dial pad, dial 9-1-9-6 then click the green receiver icon at the bottom. Speak into the microphone. You should hear yourself. If so, you have successfully completed the echo test and your client should be fully functional. Way to go. You're on your way to being an elite user.</p>

							 <h1>Can this work on my phone and desktop?</h1>
									 <p>Yes and yes! Ostel works on every phone (Blackberry, iPhone, Nokia, Android, etc) and every desktop (Mac, PC, Linux, etc) through accompanying apps that support SIP and ZRTP. Check out our <a href="https://guardianproject.info/wiki/Ostel" target="_blank">Ostel wiki</a> for specific instructions on how to get it up and running on your favorite platform.</p>

							 <h1>Error while registering - Forbidden. What happened?</h1>
									 <p>Please check that there are no extraneous spaces in any of the fields you were meant to alter. Check that all spelling is using lowercase. Make sure that all brackets (<>) are properly set.</p>

							 <h1>Error while registering - Bad Gateway. What happened?</h1>
									 <p>Please make sure that the password is correct. The problem is sometimes caused by this. Otherwise, as long as the server is ostel.me and the username the one we sent in the email, it should work.</p>

							 <h1>I changed my settings but I'm getting the same error.</h1>
									 <p>Try to exit the application and restart it. Click "Back" until you read the dial pad. Click "Settings" to reveal the options Menu. Click "Disconnect" to exit the app completely. Launch the app again from the applications folder and it will reboot and try to connect using the new settings you entered.</p>
							 <h1>My connection is now inactive. What happened?</h1>
									 <p>Are you trying to connect over a 3G/4G connection? Some phone companies block this. Please try wifi. If this happens repeatedly, please notify us and we will look into it.</p>
							 <h1>I'm running Cyanogen. Why isn't Ostel working?</h1>
									 <p>Good question. It should. But it doesn't right now. We're looking into this. Hopefully it will be fixed soon.</p>
							 <h1>Can someone record my phone calls?</h1>
									 <p>Not even us pros at Guardian can your calls if you've encrypted them with ZRTP. Noone else can either.</p>
							 <h1>Is ZRTP encryption working if no 4 digit number pops up?</h1>
									 <p>If you don't see a ZRTP confirm code, it is not active.</p>
							 <h1>Can someone record my phone calls?</h1>
									 <p>Not even us pros at Guardian can your calls if you've encrypted them with ZRTP. Noone else can either.</p>
							 <h1>Are you logging any data?</h1>
									 <p>While we're in the Alpha testing phase we have to log some data in order to best develop and test the tool. We do our best to log this data securely and with privacy considerations in mind. Check out our Privacy policy for full details.</p>
							 <h1>I'm running Orbot. Why isn't Ostel working?</h1>
									 <p>Unfortunately, VOIP communication doesn't work over a Tor connection. Please turn off Orbot when running OStel.</p>
							 <h1>My phone won't allow me to install the CSipSimple App.</h1>
									 <p>Have you enabled your phone to install apps from 3rd parties? Go to Settings then click on Applications. Under Unknown sources, make sure that the box is checked, allowing the installation of non-Market applications.</p>

							 <h1>What are the technical details on Ostel?</h1>
									 <p>So glad you asked! Check out the full details about our software and hardware on our wiki at <a href="https://guardianproject.info/wiki/Ostel" target="_blank">Open Secure Telephony Network (OSTN)</a> .</p>
							 <h1>What are the technical details on the Open Secure Telephony Network (OSTN)?</h1>
									 <p>Happy to share! Check out the full details about our software and hardware on our wiki at <a href="https://guardianproject.info/wiki/OSTN" target="_blank">Open Secure Telephony Network (OSTN)</a> .</p>

							 <h1>My problems aren't listed here. Can I get in touch with someone?</h1>
									 <p>We're always happy to help! <a href="mailto:support@ostel.co?Subject=FAQ%20Question" target="_blank">Send us an email</a> and we'll help troubleshoot your issue.</p>
							 <h1>How can I get my friends involved?</h1>
									 <p>Alpha testing is more fun when doing it with friends. We're always looking for smart and passionate people. They can sign up at https://ostel.me/ or follow us on Twitter https://twitter.com/#!/guardianproject or on our Blog https://guardianproject.info/blog/ to find our when they can become a tester too!</p>

							 <h1>My problems aren't listed here. Can I get in touch with someone?</h1>
									 <p>We're always happy to help! Send us an email and we'll help troubleshoot your issue.</p>									 




									 <p>When you access OSTel.co (or any Web site), your Web browser automatically sends information about your computer, e.g. your <a href="https://en.wikipedia.org/wiki/User_agent/" target="_blank">user agent</a> and <a href="https://en.wikipedia.org/wiki/Ip_address/" target="_blank">IP address</a>.</p>
									 <p>Because this information could be used to link you to your calls, we do not log (store) it at all. This is a very unusual and rare practice, but we feel it is an important step to protect your privacy. It is unusual for a few reasons:</p>
									 <ol>                     
											 <li>Most server software auto-stores this information, so you have to go out of your way not to store it.</li>
											 <li>Most businesses want to keep as much information as possible because they don't know when it will be useful.</li>
											 <li>Many companies actively use this information, for example to show you more targeted advertising.</li>  
									</ol>                
									<p>Another way that your searches are often tied together at other search engines are through <a href="https://en.wikipedia.org/wiki/Browser_cookies/" target="_blank">browser cookies</a>, which are pieces of information that sit on your computer and get sent to the search engine on each request. What search engines often do is store a unique identifier in your browser and then associate that identifier with your searches. At OSTel, we do not use persistent ID cookies on the site. We use session cookies on certain portions of the website and those session cookies expire when you close your browser.</p>
									<p>When you use OSTel.co (or any <a href="https://en.wikipedia.org/wiki/Voip/" target="_blank">VOIP system</a>), web servers automatically sends information about your phone and account.</p>
									<p>Because this information could be used to link you to your calls, we do not log (store) it at all. In response to efforts by the <a href="https://duckduckgo.com/Electronic_Frontier_Foundation/" target="_blank">Electronic Frontiers Foundation</a> and others, the major US carriers have been urged to "anonymize" their search log data. Sure, this is better than not doing so, but you should note that this does not make you calling history anonymous in the same way that it is at OSTel. Recent studies show that even anonymized mobile phone location data produces a GPS fingerprint that can be easily used to identify a user based on little more than tracking the pings a phone makes to cell towers. “Mobility data is among the most sensitive data currently being collected,” the researchers write in their study, <a href="http://www.nature.com/srep/2013/130325/srep01376/full/srep01376.html/" target="_blank">published in Scientific Reports</a>.</p>
									<p>Carriers can either provide the location information that resides in the cellular network (triangulation of location based on the distance of the cell phone's signal to nearby cellular towers), or they can rely on satellite data from global positioning system (GPS) chips embedded in the handsets of their customers. OSTel is a VOIP system  and we do not log any of this information.</p>
							 <h1>Information Collected</h1>
									<p>OSTel uses industry standard security measures to protect the loss, misuse, and alteration of the information under our control. Although we make good faith efforts to store information collected by OSTel in a secure operating environment, we cannot guarantee complete security.</p>
									<p>OSTel  collects your email address as a way to authenticate you as a new user in order to prevent the system from getting overloaded with spammers. Since we don’t track usage activities, this is currently an effective way for us to make sure our users are ‘real’ and not just robots.</p>
									<p>Our call records and user records are kept separate so that even with the logs it is not possible to track who has been speaking with whom. We’re currently exploring other options for ease of sign up and increased anonymity.</p>
									<p>The information we receive is stored using ALGORITHM X to hash the information. Emails are also salted.</p>
									<p>OSTel uses SSL certificates to encrypt all communication between you and our site and turns on HTTPS by default. That way noone can track what you’re communicating with our servers about if they’re sniffing your internet traffic. However, someone could still track your IP address, even if we don’t store it. So you’re not anonymous with us unless you’re using an anonymization service like Tor.</p>
									<p>If you choose to subscribe to <a href="mailto:ostel-users@lists.mayfirst.org?Subject=Privacy%20Policy" target="_blank">our users mailing list</a>, our free electronic newsletter or any of our other mailing lists, we collect your email address, and, if you choose to provide it, a zip code or country.</p>
									<p>If you call our testing number, we may ask for your location, purely for anecdotal evidence of use.</p>
									<p>If you <a href="mailto:support@lists.mayfirst.org?Subject=Privacy%20Feedback" target="_blank">give us feedback</a>, it may be stored in our email. However, you can give anonymous feedback (by not entering your email or other personal info on the <a href="https://dev.guardianproject.info/projects/ostn/" target="_blank">project tracker</a>.</p>
							 <h1>Information Shared</h1>
									<p>Sharing your data with others without permission is just plain rude. We will never resell or give the info to anyone.  We don’t have your explicit permission and we don’t assume your permission to do it. Your info is safe with us. Since you’re an early adopter of the service, we might use it to ask you to answer some questions or to fill out a survey. Of course, even then you can opt out.</p>
									<p>Like anyone else, we will comply with court ordered legal requests. However, in our case, we don't expect any because there is nothing useful to give them since we don't collect any personal information. We will be transparent about any such inquiries (unless we are prohibited).</p>
							 <h1>Updates</h1>
									<p>If this policy is substantively updated, we will update the text of this page and provide notice to you here by writing '(Updated)' in red next to the link to this page (in the footer) for a period of at least 30 days.</p>
							 <h1>Feedback</h1>
									<p>We wrote this privacy policy wanting your help (and thanks to inspiration from <a href="https://duckduckgo.com/?q=gabrielweinberg" target="_blank">Gabriel Weinberg</a>, the founder of DuckDuckGo) and the <a href="https://duckduckgo.com/Electronic_Frontier_Foundation/" target="_blank">EFF</a>. If you have any questions or concerns, please submit feedback or email <a href="mailto:support@lists.mayfirst.org?Subject=Privacy%20Feedback" target="_blank">support@ostel.co</a>.</p>

                    </section>
                    <aside>
                    	<%= image_tag "android.png", :alt => "mockup" %>
                    	<p><em>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</em></p>
                    </aside>
                </article>
		<!-- END MAIN -->	
            </div> 
        </div> 
