        </div>
	<!-- START FEATURES  -->	
        <div class="main-container internal">
            <div class="main wrapper clearfix section">
				<article>
                    
                    <section>
                    <h1>Frequently Asked Questions</h1>
                     
                    		<p>OStel is a public testbed of the <a href="https://dev.guardianproject.info/projects/OStel/wiki" target="_blank">Open Secure Telephony Network (OSTN) project</a>, an effort with the goal of promoting the use of free, open protocols, standards and software, to power end-to-end secure voice communications on mobile devices, as well as with desktop computers. Both are concepts from <a href="https://guardianproject.info/" target="_blank">The Guardian Project</a>.</p>

							 <h2>How do I set it up?</h2>
									 <p>Register for an OStel account. Then download the app and use the credentials we sent you to get started. The user name should be a name but can also be a number. Then a password. The server is "OStel.co"</p>
                     
							 <h2>How do I test that everything is working?</h2>
									 <p>From the dial pad, dial 9-1-9-6 then click the green receiver icon at the bottom. Speak into the microphone. You should hear yourself. If so, you have successfully completed the echo test and your client should be fully functional. Way to go. You're on your way to being an elite user.</p>

							 <h2>How do I call my friends</h2>
									 <p>Make sure that they have OStel, then call their user name or have them call yours. If it's a name, click 'txt' to type in their name and call. If it's a number, toggle back to the dial pad. Then just click the phone receiver icon to call! See? Wasn't that easy?</p>

							 <h2>Can this work on my phone and desktop?</h2>
									 <p>Yes and yes! OStel works on every phone (Blackberry, iPhone, Nokia, Android, etc) and every desktop (Mac, PC, Linux, etc) through accompanying apps that support SIP and ZRTP. Check out our <a href="https://guardianproject.info/wiki/OStel" target="_blank">OStel wiki</a> for specific instructions on how to get it up and running on your favorite platform.</p>

							 <h2>Error while registering - Forbidden. What happened?</h2>
									 <p>Please check that there are no extraneous spaces in any of the fields you were meant to alter. Check that all spelling is using lowercase. Make sure that all brackets (<>) are properly set.</p>

							 <h2>Error while registering - Bad Gateway. What happened?</h2>
									 <p>Please make sure that the password is correct. The problem is sometimes caused by this. Otherwise, as long as the server is OStel.me and the username the one we sent in the email, it should work.</p>

							 <h2>I changed my settings but I'm getting the same error.</h2>
									 <p>Try to exit the application and restart it. Click "Back" until you read the dial pad. Click "Settings" to reveal the options Menu. Click "Disconnect" to exit the app completely. Launch the app again from the applications folder and it will reboot and try to connect using the new settings you entered.</p>
							 <h2>My connection is now inactive. What happened?</h2>
									 <p>Are you trying to connect over a 3G/4G connection? Some phone companies block this. Please try wifi. If this happens repeatedly, please notify us and we will look into it.</p>
							 <h2>I'm running Cyanogen. Why isn't OStel working?</h2>
									 <p>Good question. It should. But it doesn't right now. We're looking into this. Hopefully it will be fixed soon.</p>
							 <h2>Can someone record my phone calls?</h2>
									 <p>Not even us pros at Guardian can your calls if you've encrypted them with ZRTP. Noone else can either.</p>
							 <h2>Is ZRTP encryption working if no 4 digit number pops up?</h2>
									 <p>If you don't see a ZRTP confirm code, it is not active.</p>
							 <h2>Can someone record my phone calls?</h2>
									 <p>Not even us pros at Guardian can your calls if you've encrypted them with ZRTP. Noone else can either.</p>
							 <h2>Are you logging any data?</h2>
									 <p>While we're in the Alpha testing phase we have to log some data in order to best develop and test the tool. We do our best to log this data securely and with privacy considerations in mind. Check out our Privacy policy for full details.</p>
							 <h2>I'm running Orbot. Why isn't OStel working?</h2>
									 <p>Unfortunately, VOIP communication doesn't work over a Tor connection. Please turn off Orbot when running OStel.</p>
							 <h2>My phone won't allow me to install the CSipSimple App.</h2>
									 <p>Don't want to use the Google Play store? Enable your phone to install apps from 3rd parties then get it directly. Go to Settings then click on Applications. Under Unknown sources, make sure that the box is checked, allowing the installation of non-Market applications.</p>

							 <h2>What are the technical details on OStel?</h2>
									 <p>So glad you asked! Check out the full details about our software and hardware on our wiki at <a href="https://guardianproject.info/wiki/OStel" target="_blank">Open Secure Telephony Network (OSTN)</a> .</p>
							 <h2>What are the technical details on the Open Secure Telephony Network (OSTN)?</h2>
									 <p>Happy to share! Check out the full details about our software and hardware on our wiki at <a href="https://guardianproject.info/wiki/OSTN" target="_blank">Open Secure Telephony Network (OSTN)</a> .</p>

							 <h2>My problems aren't listed here. Can I get in touch with someone?</h2>
									 <p>We're always happy to help! <a href="mailto:support@OStel.co?Subject=FAQ%20Question" target="_blank">Send us an email</a> and we'll help troubleshoot your issue.</p>
							 <h2>How can I get my friends involved?</h2>
									 <p>Alpha testing is more fun when doing it with friends. We're always looking for smart and passionate people. They can sign up at <a href="https://OStel.co/" target="_blank">https://OStel.co</a> or <a href="https://twitter.com/#!/guardianproject" target="_blank">follow us on Twitter</a> or <a href="https://guardianproject.info/blog/" target="_blank">on our Blog </a> to find our when they can become a tester too!</p>

							 <h2>My problems aren't listed here. Can I get in touch with someone?</h2>
									 <p>We're always happy to help! Send us an email to <a href="mailto:support@lists.mayfirst.org?Subject=Privacy%20Feedback" target="_blank">support@OStel.co</a> and we'll help troubleshoot your issue.</p>									 

							 <h1>Feedback</h1>
									<p>If you have any questions or concerns, please  email <a href="mailto:support@lists.mayfirst.org?Subject=Privacy%20Feedback" target="_blank">support@OStel.co</a>. You can also submit issues and bug reports <a href="https://dev.guardianproject.info/projects/OStel/wiki" target="_blank">in our project tracker</a>. Our code is publicly available <a href="https://github.com/guardianproject/OStel" target="_blank">on Github</a>.</p>

                    </section>
                    <aside>
                    	<%= image_tag "android.png", :alt => "mockup" %>
                    	<p><em>An Android phone running OStel using the CSipSimple app.</em></p>
                    </aside>
                </article>
		<!-- END MAIN -->	
            </div> 
        </div> 
