		 <!-- START SLIDES -->
		  <ul class="slides-container">
		  	
		  	<!-- START SLIDE -->
		  	<li>
		  	  <img src="images/4.jpg" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="column">
		  	     <h1>Share your ideas freely and securely. </h1>
		  	     <a class="btn" href="#">Download Here</a>
		  	     </div>
		  	  </div>
		  	</li>
		  	
		  	
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/1.jpg" width="1024"  alt="Insert Alt">
		      <div class="container">
		      	<div class="column">
		        <h1>Ever have an idea that you didn’t want falling in the wrong hands? We have. That’s why we built the Ostel phone.</h1>
		        <a class="btn" href="#">Download Here</a>
		        </div>
		     </div>
		    </li>
		    
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/2.jpg" alt="Insert Alt">
		      <div class="container">
		      	<div class="column">
		         <h1>Get a free phone number</h1>
		         <a class="btn" href="#">Download Here</a>
		         </div>
		      </div>
		    </li>
		  </ul>
		  
		  <nav class="slides-navigation">
		    <a href="#" class="next">next</a>
		    <a href="#" class="prev">prev</a>
		  </nav>
		</div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="section">
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Become a secure telephone company / Anyone can be a telephone company</h2>
                        <img class="icon" src="images/icon_users.png" width="65" alt="Insert Alt" />
                        <p>Advanced users can run their own open secure telephone network. Its like  having a batphone for your organization. </p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Award-winning security</h2>
                        <img class="icon" src="images/icon_cloud.png" width="65" alt="Insert Alt" />
                        <p>Don’t just take our word for it. We’re built on trusted security protocols using public-key encryption.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Ring, ring! Who’s calling? We don’t know.</h2>
                        <img class="icon" src="images/icon_gears.png" width="64" alt="Insert Alt" />
                        <p>Your calls are your business. We don’t keep any logs or records of who is callin whom. And phone numbers aren’t tied to personal identifiers so you can remain truly anonymous.</p>
                    </section>
               
                    
                    	<hr/>
               
                    
                     <!-- INSERT FEATURE TEXT  -->                   
                     <section>
                        <h2>Free worldwide calling</h2>
                        <img class="icon" src="images/icon_cup.png" width="58" alt="Insert Alt" />
                        <p>Talk to anyone in the world for free over WI-FI or a cell network.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>A community project</h2>
                        <img class="icon" src="images/icon_plane.png" width="62" alt="Insert Alt" />
                        <p>You don’t get this far alone. We’re an open source project with public code that anyone in the world can see and improve.</p>
                    </section>
                    
                     <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Works on every device</h2>
                        <img class="icon" src="images/icon_network.png" width="64" alt="Insert Alt" />
                        <p>Have a device in your pocket or on your desk? Then you can make a call with Ostel. We work on Android, iPhone, Blackberry, Nokia, Mac, PC, and Linux through supported apps.</p>
                    </section>
                    
                    <hr/>
					
					
					<footer>
						<div class="flexslider2">
						  <ul class="slides">
						  	<!-- INSERT QUOTE  -->
								<!--
						    <li>
						    	“This app actually does everything it says and does it well, with style. ” 
						    	<span>Johhny Appleseed</span>
						    </li>
								-->
						  </ul>
						</div>	                  
					</footer>
					
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
