<% unless user_signed_in? -%>
  <p><%= link_to 'Sign up', new_user_registration_path %> for OSTel.</p>
  <p>Have an account? To retrieve your OSTel credentials, <%= link_to 'sign in', new_user_session_path %>.</p>
<% end -%>

