		 <!-- START SLIDES -->
		  <ul class="slides-container">
		  	
		  	<!-- START SLIDE -->
		  	<li>
		  	  <img src="images/1.jpg" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="column">
							 <h1>Remember the privacy of a phone booth?</h1>
							 <p>Not all conversations are meant to be overheard. Using Ostel is like having your own personal phone booth wherever you go.</p>
							 <a class="btn" href="#">Sign Me Up!</a>
		  	     </div>
		  	  </div>
		  	</li>
		  	<li>
		  	  <img src="images/2.png" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="column">
							 <h1>Share your ideas freely and securely. </h1>
							 <p>Ever have an idea that you didn’t want falling in the wrong hands? We have. That’s why we built the Ostel phone.</p>
							 <a class="btn" href="#">Sign Me Up!</a>
		  	     </div>
		  	  </div>
		  	</li>
		  	<li>
		  	  <img src="images/3.png" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="columnRight">
							 <h1>Phone calls can be free and easy</h1>
							 <p>Security doesn't have to be hard. It doesn't even have to cost you anything. We built Ostel to make life a little better.</p>
							 <a class="btn" href="#">Sign Me Up!</a>
		  	     </div>
		  	  </div>
		  	</li>
		  	<li>
		  	  <img src="images/4.png" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="columnRight">
							 <h1>Your phone, everywhere</h1>
							 <p>You can make calls while you're on the go. And from any device, whether an iPad, Blackberry, Android, Windows machine or otherwise.</p>
							 <a class="btn" href="#">Sign Me Up!</a>
		  	     </div>
		  	  </div>
		  	</li>
		  	<li>
		  	  <img src="images/5.png" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="column">
							 <h1>Too good to be true?</h1>
							 <p>Download the app and try it out. We're always excited to hear what you think!</p>
							 <a class="btn" href="#">Sign Me Up!</a>
		  	     </div>
		  	  </div>
		  	</li>
		  </ul>
		  
		  <nav class="slides-navigation">
		    <a href="#" class="next">next</a>
		    <a href="#" class="prev">prev</a>
		  </nav>
		</div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="section">
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Award-winning security</h2>
                        <img class="icon" src="images/icon_cup.png" width="65" alt="Insert Alt" />
                        <p>Don’t just take our word for it. We’re built on trusted security protocols using public-key encryption.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Works on every device</h2>
                        <img class="icon" src="images/icon_cloud.png" width="67" alt="Insert Alt" />
                        <p>Have a device in your pocket or on your desk? Then you can make a call with Ostel. We work on Android, iPhone, Blackberry, Nokia, Mac, PC, and Linux through supported apps.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Free worldwide calling</h2>
                        <img class="icon" src="images/icon_world.png" width="67" alt="Insert Alt" />
                        <p>Talk to anyone in the world for free over WI-FI or a cell network.</p>
                    </section>
               
                    
                    	<hr/>
               
                    
                     <!-- INSERT FEATURE TEXT  -->                   
                     <section>
                        <h2>A community project</h2>
                        <img class="icon" src="images/icon_plane.png" width="58" alt="Insert Alt" />
                        <p>You don’t get this far alone. We’re an open source project with public code that anyone in the world can see and improve.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Ring, ring! Who’s calling? We don’t know.</h2>
                        <img class="icon" src="images/icon_users.png" width="64" alt="Insert Alt" />
                        <p>Your calls are your business. We don’t keep any logs or records of who is callin whom. And phone numbers aren’t tied to personal identifiers so you can remain truly anonymous.</p>
                    </section>
                    
                     <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Anyone can be a telephone company</h2>
                        <img class="icon" src="images/icon_network.png" width="64" alt="Insert Alt" />
                        <p>Advanced users can run their own open secure telephone network. Its like having a batphone for your organization.</p>
                    </section>
                    
                    <hr/>
			<footer class="signup">
			  <div class="flexslider2">
			    <%= h(render "devise/registrations/new") %>
			  </div>	                  
			</footer>
                </article>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
