		 <!-- START SLIDES -->
		  <ul class="slides-container">
		  	
		  	<!-- START SLIDE -->
		  	<li>
		  	  <img src="images/4.jpg" alt="Insert Alt">
		  	  <div class="container">
		  	  	<div class="column">
		  	     <h1>Powder wafer croissant croissant sweet top. </h1>
		  	     <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		  	     <a class="btn" href="#">Download Here</a>
		  	     </div>
		  	  </div>
		  	</li>
		  	
		  	
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/1.jpg" width="1024"  alt="Insert Alt">
		      <div class="container">
		      	<div class="column">
		        <h1>Powder wafer croissant croissant sweet top. </h1>
		        <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		        <a class="btn" href="#">Download Here</a>
		        </div>
		     </div>
		    </li>
		    
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/2.jpg" alt="Insert Alt">
		      <div class="container">
		      	<div class="column">
		         <h1>Powder wafer croissant croissant sweet top. </h1>
		         <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		         <a class="btn" href="#">Download Here</a>
		         </div>
		      </div>
		    </li>
		    
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/3.jpg" alt="Insert Alt">
		      <div class="container">
		      	<div class="columnRight">
		         <h1>Powder wafer croissant croissant sweet top. </h1>
		         <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		         <a class="btn" href="#">Download Here</a>
		         </div>
		      </div>
		    </li>
		   		    
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/5.jpg" alt="Insert Alt">
		      <div class="container">
		      	<div class="column">
		         <h1>Powder wafer croissant croissant sweet top. </h1>
		         <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		         <a class="btn" href="#">Download Here</a>
		         </div>
		      </div>
		    </li>
		    
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/6.jpg" alt="Insert Alt">
		      <div class="container">
		      	<div class="columnRight">
		         <h1>Powder wafer croissant croissant sweet top. </h1>
		         <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		         <a class="btn" href="#">Download Here</a>		         
		         </div>
		      </div>
		    </li>
		    
		    <!-- START SLIDE -->
		    <li>
		      <img src="images/7.jpg" alt="Insert Alt">
		      <div class="container">
		      	<div class="column">
		         <h1>Powder wafer croissant croissant sweet top. </h1>
		         <p>Tiramisu carrot cake dragée wypas co Gingerbread toffee cheesecake chocolate bar. Sweet roll jam chocolate bar.</p>
		         <a class="btn" href="#">Download Here</a>
		         </div>
		      </div>
		    </li>		    
		   <!-- END SLIDES -->
		  </ul>
		  
		  
		  <nav class="slides-navigation">
		    <a href="#" class="next">next</a>
		    <a href="#" class="prev">prev</a>
		  </nav>
		</div>
		
		
		
		
		
        <div class="main-container">
            <div class="main wrapper clearfix">

                <article class="section">
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Powder wafer croissant croissant sweet chocolate</h2>
                        <img class="icon" src="images/icon_users.png" width="65" alt="Insert Alt" />
                        <p>Coffee tiramisu carrot cake dragée wypas cotton candy apple pie gummies carrot cake.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Halvah chupa chups cottom candy toffees</h2>
                        <img class="icon" src="images/icon_cloud.png" width="65" alt="Insert Alt" />
                        <p>Candy Jelly faworki sugar plum danish carrot cake. Chupa chups marshmallow tiramisu wafer.</p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Jelly candy faworki sugar plum danish carrot cake</h2>
                        <img class="icon" src="images/icon_gears.png" width="64" alt="Insert Alt" />
                        <p>Chupa chups marshmallow tiramisu wafer. Dessert wypas marzipan halvah ice cream.</p>
                    </section>
               
                    
                    	<hr/>
               
                    
                     <!-- INSERT FEATURE TEXT  -->                   
                     <section>
                        <h2>Gingerbread toffee cheesecake chocolate bar</h2>
                        <img class="icon" src="images/icon_cup.png" width="58" alt="Insert Alt" />
                        <p>Tiramisu carrot cake dragée wypas cotton candy apple pie gummies carrot cake slices. </p>
                    </section>
                    
                    <!-- INSERT FEATURE TEXT  -->
                    <section>
                        <h2>Lemon drops cupcake sweet sesame snaps</h2>
                        <img class="icon" src="images/icon_plane.png" width="62" alt="Insert Alt" />
                        <p>Jelly candy faworki sugar plum danish carrot cake. Chupa chups marshmallow tiramisu cake.</p>
                    </section>
                    
                     <!-- INSERT FEATURE TEXT  -->
                     <section class="last">
                        <h2>Applepie jelly sweet berry rollup donuts</h2>
                        <img class="icon" src="images/icon_network.png" width="64" alt="Insert Alt" />
                        <p>Chupa chups marshmallow tiramisu wafer. Dessert wypas marzipan halvah ice cream puffs.</p>
                    </section>
                    
                    <hr/>
					
					
					<footer>
						<div class="flexslider2">
						  <ul class="slides">
						  	<!-- INSERT QUOTE  -->
						    <li>
						    	“This app actually does everything it says and does it well, with style. ” 
						    	<span>Johhny Appleseed</span>
						    </li>
						     <!-- INSERT QUOTE  --> 
						  	<li>
						  		“Where has this app been all my iPhone owning life?”
						  		<span>Johhny Appleseed</span>
						  	</li>
						  	 <!-- INSERT QUOTE  -->
						  	<li>
						  		“It’s official – I love this app, I couldn’t be without it now.”
						  		<span>Johhny Appleseed</span>
						  	</li>
						  </ul>
						</div>	                  
					</footer>
					
					
                </article>


            </div> <!-- #main -->
        </div> <!-- #main-container -->

