        </div>
	<!-- START FEATURES  -->	
        <div class="main-container internal">
            <div class="main wrapper clearfix section">
				<article>                    
                    <section>
	                    <h1>Privacy Policy</h1>                             
		                     <p>The <a href="https://guardianproject.info/" target="_blank">Guardian Project</a>, which developed and runs OSTel, is committed to protecting the privacy and security of our users. We tried to create a specific but simple Privacy Policy to help let you know exactly how we do that.</p>                     
							 <h1>Information Not Collected</h1>
									 <p>When you make calls using OSTel, we don't know who you are and there is no way to tie your conversations together.</p>
									 <p>When you access OSTel.co (or any Web site), your Web browser automatically sends information about your computer, e.g. your <a href="https://en.wikipedia.org/wiki/User_agent/" target="_blank">user agent</a> and <a href="https://en.wikipedia.org/wiki/Ip_address/" target="_blank">IP address</a>.</p>
									 <p>Because this information could be used to link you to your calls, we do not log (store) it at all. This is a very unusual and rare practice, but we feel it is an important step to protect your privacy. It is unusual for a few reasons:</p>
									 <ol>                     
											 <li>Most server software auto-stores this information, so you have to go out of your way not to store it.</li>
											 <li>Most businesses want to keep as much information as possible because they don't know when it will be useful.</li>
											 <li>Many companies actively use this information, for example to show you more targeted advertising.</li>  
									</ol>                
									<p>Another way that your searches are often tied together at other search engines are through <a href="https://en.wikipedia.org/wiki/Browser_cookies/" target="_blank">browser cookies</a>, which are pieces of information that sit on your computer and get sent to the search engine on each request. What search engines often do is store a unique identifier in your browser and then associate that identifier with your searches. At OSTel, we do not use persistent ID cookies on the site. We use session cookies on certain portions of the website and those session cookies expire when you close your browser.</p>
									<p>When you use OSTel.co (or any <a href="https://en.wikipedia.org/wiki/Voip/" target="_blank">VOIP system</a>), web servers automatically sends information about your phone and account.</p>
									<p>Because this information could be used to link you to your calls, we do not log (store) it at all. In response to efforts by the <a href="https://duckduckgo.com/Electronic_Frontier_Foundation/" target="_blank">Electronic Frontiers Foundation</a> and others, the major US carriers have been urged to "anonymize" their search log data. Sure, this is better than not doing so, but you should note that this does not make you calling history anonymous in the same way that it is at OSTel. Recent studies show that even anonymized mobile phone location data produces a GPS fingerprint that can be easily used to identify a user based on little more than tracking the pings a phone makes to cell towers. “Mobility data is among the most sensitive data currently being collected,” the researchers write in their study, <a href="http://www.nature.com/srep/2013/130325/srep01376/full/srep01376.html/" target="_blank">published in Scientific Reports</a>.</p>
									<p>Carriers can either provide the location information that resides in the cellular network (triangulation of location based on the distance of the cell phone's signal to nearby cellular towers), or they can rely on satellite data from global positioning system (GPS) chips embedded in the handsets of their customers. OSTel is a VOIP system  and we do not log any of this information.</p>
							 <h1>Information Collected</h1>
									<p>OSTel uses industry standard security measures to protect the loss, misuse, and alteration of the information under our control. Although we make good faith efforts to store information collected by OSTel in a secure operating environment, we cannot guarantee complete security.</p>
									<p>OSTel  collects your email address as a way to authenticate you as a new user in order to prevent the system from getting overloaded with spammers. Since we don’t track usage activities, this is currently an effective way for us to make sure our users are ‘real’ and not just robots.</p>
									<p>Our call records and user records are kept separate so that even with the logs it is not possible to track who has been speaking with whom. We’re currently exploring other options for ease of sign up and increased anonymity.</p>
									<p>The information we receive is stored using ALGORITHM X to hash the information. Emails are also salted.</p>
									<p>OSTel uses SSL certificates to encrypt all communication between you and our site and turns on HTTPS by default. That way noone can track what you’re communicating with our servers about if they’re sniffing your internet traffic. However, someone could still track your IP address, even if we don’t store it. So you’re not anonymous with us unless you’re using an anonymization service like Tor.</p>
									<p>If you choose to subscribe to <a href="mailto:ostel-users@lists.mayfirst.org?Subject=Privacy%20Policy" target="_blank">our users mailing list</a>, our free electronic newsletter or any of our other mailing lists, we collect your email address, and, if you choose to provide it, a zip code or country.</p>
									<p>If you call our testing number, we may ask for your location, purely for anecdotal evidence of use.</p>
									<p>If you <a href="mailto:support@lists.mayfirst.org?Subject=Privacy%20Feedback" target="_blank">give us feedback</a>, it may be stored in our email. However, you can give anonymous feedback (by not entering your email or other personal info on the <a href="https://dev.guardianproject.info/projects/ostn/" target="_blank">project tracker</a>.</p>
							 <h1>Information Shared</h1>
									<p>Sharing your data with others without permission is just plain rude. We will never resell or give the info to anyone.  We don’t have your explicit permission and we don’t assume your permission to do it. Your info is safe with us. Since you’re an early adopter of the service, we might use it to ask you to answer some questions or to fill out a survey. Of course, even then you can opt out.</p>
									<p>Like anyone else, we will comply with court ordered legal requests. However, in our case, we don't expect any because there is nothing useful to give them since we don't collect any personal information. We will be transparent about any such inquiries (unless we are prohibited).</p>
							 <h1>Updates</h1>
									<p>If this policy is substantively updated, we will update the text of this page and provide notice to you here by writing '(Updated)' in red next to the link to this page (in the footer) for a period of at least 30 days.</p>
							 <h1>Feedback</h1>
									<p>We wrote this privacy policy wanting your help (and thanks to inspiration from <a href="https://duckduckgo.com/?q=gabrielweinberg" target="_blank">Gabriel Weinberg</a>, the founder of DuckDuckGo) and the <a href="https://duckduckgo.com/Electronic_Frontier_Foundation/" target="_blank">EFF</a>. If you have any questions or concerns, please submit feedback or email <a href="mailto:support@ostel.co?Subject=Privacy%20Feedback" target="_blank">support@ostel.co</a>.</p>
                    </section>
                    <aside>
                    	<%= image_tag "android1.png", :alt => "mockup" %>
                    	<p><em>An Android phone running Ostel using the CSipSimple app.</em></p>
                    </aside>
                </article>
		<!-- END MAIN -->	
            </div> 
        </div> 