<h2>Get A Free Phone Number</h2>
<p>Connect in 3 easy steps (once we're public):</p>
<ol>                     
  <li>Sign up for an account.</li>
  <li>Configure the app.</li>
  <li>Then you're ready to call other Ostel numbers securely.</li>  
</ol>        

<img class="icon" src="images/icon_lock.png" width="265" align="left" alt="Insert Alt" />

<%= form_for(resource, :as => resource_name, :url => users_suggest_path) do |f| %>

  <div><%= f.label :email, "Enter your email" %></div><br />
  <%= f.email_field :email %></div>
  <div><%= f.submit "Sign up" %></div>

<% end %>
