<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Open Secure Telephony</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<p><img class="displayed" src="images/logo.png" width="800" height="251" /></p>
<br>
<p class="main">Thank you for your interest in Open Secure Telephony (Ostel). Please fill out the form below and we will send you information to sign up for the testbed.</p>
<div id="wrap">
<form action="/send_mail" method="POST" name="send_mail" >
<p><label for="name">Name</label> <input type="text" id="name" name="name" /></p>
<p><label for="email">E-mail</label> <input type="text" id="email" name="email" /></p>
<p><label for="pub_key">PGP Public Key (optional)</label> <textarea id="pub_key" name="pub_key" /></textarea></p>
<p class="submit"><input type="submit" value="Submit" /></p>
</form></div><br>
<p class="main">For more information on Ostel, please visit our <a href="http://guardianproject.info/wiki/OSTN">wiki</a><br />
  <br />
</p>
<a href="https://guardianproject.info/"><img src="images/GP_logo.png" alt="The Guardian project" width="250" height="83" border="0" class="displayed"></a>
</body>
</html>
