<p>Hello OSTel Beta Tester!</p>

<p>Thank you so much for joining our efforts to make a friendlier and more secure telephone network. We here at Guardian Project are calling it OSTel, as in "Open Secure Telephony."</p>

<p>This installation will take you 3 minutes. Literally. Let's get you started... and finished. Your credentials can be found by logging into your account.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :protocol => "https") %></p>

<p>For information on how to set up your client on Android to start placing calls, please visit <a href="https://guardianproject.info/wiki/Ostel">the howto</a> or watch the <a href="http://youtu.be/BrNC8Mk26Z8">tutorial video</a>. If you have any difficulties, questions, comments, etc, feel free to email our friendly staff at support@ostel.me. If there are more people at your organization that would like accounts, please direct them to <a href="https://ostel.me/">ostel.me</a>.</p>

<p>Remember, without your help, this would not be possible. We appreciate you participating in this quest. If you want to tell your friends, have them <a href="https://twitter.com/#!/guardianproject">follow us on Twitter  @guardianproject</a> or subscribe to our <a href="https://guardianproject.info/blog/">Blog</a>. For more Guardian Project apps for Android, check us out on the <a href="https://play.google.com/store/search?q=guardianproject&so=1&c=apps">Google Play Store</a>. Are you a coder? Find us on <a href="http://github.com/guardianproject">GitHub</a> and contribute to open source coding for a better world.</p>

<p>Sincerely,</p>
<p>The Guardian Project Team</p>
