<p>Hello Trusted Alpha Tester!</p>

<p>Thank you so much for joining our efforts to make a friendlier and more secure telephone. We here at Guardian Project are calling it OSTel, as in "Open Secure Telephony."</p>

<p>This installation will take you 3 minutes. Literally. Let's get you started... and finished. Your credentials can be found by logging into your account.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>For information on how to set up your client on Android to start placing calls, please visit: https://guardianproject.info/wiki/Ostel or watch the tutorial video: http://youtu.be/BrNC8Mk26Z8. If you have any difficulties, questions, comments, etc, feel free email out to our friendly staff at support@ostel.me. If there are more people at your organization that would like accounts, please direct them to https://ostel.me/.</p>

<p>Remember, without your help, this would not be possible. We appreciate you participating in this quest. If you want to get your friends to follow along, have them follow us on Twitter https://twitter.com/#!/guardianproject @guardianproject or on our Blog https://guardianproject.info/blog/ to find our when they can become a tester too! For more Guardian Project apps for Android, check us out: https://play.google.com/store/search?q=guardianproject&so=1&c=apps. Are you a coder? Find us on GitHub and contribute to coding for a better world: http://github.com/guardianproject</p>

<p>Sincerely,</p>
<p>Mark and The Guardian Project Team</p>
