<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
</div>
<div class="main-container internal">
  <div class="main wrapper clearfix section">
    <article>
      <section>
        <% if user_signed_in? %>
          <div>
          <p>Welcome to OSTel! Follow the instructions below to configure your mobile client.</p>
          <table class="info">
            <tr><th>User Name</th><td><%= current_user.sip_username %></td></tr>
            <tr><th>Password</th><td>Your sign up password</td></tr>
            <tr><th>Server</th><td><%= Devise::Application.config.domain %></td>
          </table>
          </div>
        <% end %>
      </section>
    </article>
  </div>
</div>
